/* Virtual bookshelf specific styles */
@layer base {
  .bookshelf {
    @apply relative w-full;
    perspective: 1000px;
  }

  .shelf {
    @apply border-b-4 border-gray-700 mb-6 relative;
  }

  .book-spine {
    @apply inline-block h-24 w-4 mx-0.5 cursor-pointer transition-transform duration-200 transform-gpu;
    transform-origin: bottom;
  }

  .book-spine:hover {
    @apply -translate-y-2;
  }
}
